.prd {
  &-review {
    &-card {
      border: 1px solid #e7e7e7;
      border-top: none;
      background-color: #f5f6fa;
      color: #555555;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.3rem;
      border-bottom: 1px solid #e7e7e7;
    }

    &-content {
      padding-top: 1rem;
      line-height: 19px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &-footer {
      padding-top: 1rem;
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
    }
  }
}
