:deep(.wf_ui-kit-body) {
  padding-right: 0px;
}

:deep(.wf-font_13--reg) {
  letter-spacing: normal;
}

:deep(.wf_ui-kit-header--text) {
  letter-spacing: 0.1px;
}

:deep(.wf_custom-spacing) {
  letter-spacing: 0.1px;
}
.wf-ml-40 {
  margin-left: 40px;
}
.wf-mr-80 {
  margin-right: 80px;
}