@media only screen and (max-width: 374px) {
  .wf_screen_grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (min-width: 375px) and (max-width: 600px) {
  .wf_screen_grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 7px !important;
  }
}
@media screen and (min-width: 601px) {
  .wf_screen_grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 7px !important;
  }
}
